html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  font: icon;
  height: 100%;
  margin: 0;
}

#codeCanvas {
  flex: 1;
}

#viewfinderVideo {
  height: 10vh;
}

#snapshotCanvas {
  height: 10vh;
}
