#viewfinderVideo {
  display: none;
}

#viewfinderCanvas {
  height: 100%;
  left: 0;
  opacity: .1;
  position: fixed;
  top: 0;
  width: 100%;
}

#codeCanvas {
  height: calc(100vh - 5vh);
  left: 2.5vw;
  opacity: .9;
  position: fixed;
  top: 2.5vh;
  width: calc(100vw - 5vw);
}
