html {
  height: 100%;
}

body {
  display: flex;
  height: 100%;
  margin: 0;
}

#panelDiv {
  display: flex;
  flex-direction: column;
  padding: 1ex;
  width: 333px;
}

#viewfinderVideo {
  width: 100%;
}

#snapshotCanvas {
  width: 100%;
}

#logsDiv {
  flex: 1;
  overflow: scroll;
}

#codeDiv {
  display: flex;
  flex: 1;
}

#codeCanvas {
  height: 100%;
  width: 100%;
}
