html {
  height: 100%;
}

body {
  display: flex;
  height: 100%;
  margin: 0;
}

#panelDiv {
  display: flex;
  flex-direction: column;
  padding: 1ex;
  width: 333px;
}

#viewfinderVideo {
  background: #000;
  width: 100%;
}

#snapshotCanvas {
  background: #000;
  width: 100%;
}

#fileInput {
  display: none;
}

#codeDiv {
  display: flex;
  flex: 1;
}

#codeCanvas {
  height: 100%;
  width: 100%;
}

@media (orientation : portrait) {
  body {
    flex-direction: column;
  }
  
  #panelDiv {
    width: auto;
  }

  #panelDiv .groups {
    display: flex;
  }

  #panelDiv .group {
    display: flex;
    flex: 1;
    flex-direction: column;
    margin: 1ex;
  }
}
