html {
  height: 100%;
}

body {
  display: flex;
  height: 100%;
  margin: 0;
}

#viewfinderVideo {
  opacity: .1;
}

#viewfinderCanvas {
  display: none;
}

#logsP {
  font-family: monospace;
  overflow: scroll;
  white-space: pre;
}

@media only screen and (orientation : landscape) {
  #viewfinderVideo {
    flex: 1;
  }
  
  #codeCanvas {
    width: 100vh;
  }
  
  #debugDiv {
    flex: 1;
  }
}
