#viewfinderVideo {
  height: 100%;
  left: 0;
  opacity: .1;
  position: fixed;
  top: 0;
  width: 100%;
}

#viewfinderCanvas {
  display: none;
}

#codeCanvas {
  position: fixed;
}

/* Use the bigger, horizontal (vw), viewport unit for the QR code spacing */
@media only screen and (orientation : landscape) {
  #codeCanvas {
    height: calc(100vh - 2vw);
    left: 1vw;
    top: 1vw;
    width: calc(100vw - 2vw);
  }
}

/* Use the bigger, vertical (vh), viewport unit for the QR code spacing */
@media only screen and (orientation : portrait) {
  #codeCanvas {
    height: calc(100vh - 2vh);
    left: 1vh;
    top: 1vh;
    width: calc(100vw - 2vh);
  }
}

#logsP {
  font-family: monospace;
  white-space: pre;
}
